{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<h1>Alphabetical Index Of Employees (using last name)</h1>
    {% if alphabet_list %}
        <ul>
            {% for alphabet in alphabet_list %}
                <li>
                    <a href="{% url 'last_name' last_name=alphabet.last_name %}">{{ alphabet.last_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no persons in the database.</p>
    {% endif %}
{% endblock %}
